<form autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "CreateNewActivityDetail" | localize }}</h1>
    <mat-dialog-content style="width:800px;height:300px;">
        <mat-tab-group>
            <mat-tab [label]="'ActivityDetails' | localize">
                <br />
                <div class="row-fluid">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input
                                    matInput
                                    name="ActivityId"
                                    [placeholder]="'ActivityId' | localize"
                                    [(ngModel)]="activity.activityId"
                                    type="number"
                                    required
                                    maxlength="32"
                            />
                        </mat-form-field>
                        <mat-form-field>
                            <input
                                    matInput
                                    name="Threshold"
                                    [placeholder]="'Threshold' | localize"
                                    [(ngModel)]="activity.threshold"
                                    type="number"
                                    required
                                    maxlength="32"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select name="ItemType" [placeholder]="'ItemType' | localize" [(ngModel)]="activity.itemType" required>
                                <mat-option>---</mat-option>
                                <mat-option [value]=1>{{'FreeDiamond'| localize}}</mat-option>
                                <mat-option [value]=2>{{'Gold'| localize}}</mat-option>
                                <mat-option [value]=3>{{'Character'| localize}}</mat-option>
                                <mat-option [value]=4>{{'Arm'| localize}}</mat-option>
                                <mat-option [value]=5>{{'Item'| localize}}</mat-option>
                                <mat-option [value]=6>{{'GACHA'| localize}}</mat-option>
                                <mat-option [value]=7>{{'PurchaseDiamond'| localize}}</mat-option>
                                <mat-option [value]=8>{{'ActionPoint'| localize}}</mat-option>
                                <mat-option [value]=9>{{'MonthCard'| localize}}</mat-option>
                                <mat-option [value]=10>{{'UndressEnergy'| localize}}</mat-option>
                                <mat-option [value]=11>{{'DMMPoint'| localize}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input
                                    matInput
                                    name="ItemId"
                                    [placeholder]="'ItemId' | localize"
                                    [(ngModel)]="activity.itemId"
                                    type="number"
                                    required
                                    maxlength="32"
                            />
                        </mat-form-field>
                        <mat-form-field>
                            <input
                                    matInput
                                    name="Amount"
                                    [placeholder]="'Amount' | localize"
                                    [(ngModel)]="activity.amount"
                                    type="number"
                                    required
                                    maxlength="32"
                            />
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button
                mat-flat-button
                type="submit"
                flex="15"
                color="primary"
                [disabled]="!createUserModal.form.valid || saving"
        >
            {{ "Save" | localize }}
        </button>
    </div>
</form>
