<form autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "CreateNewUser" | localize }}</h1>
    <mat-dialog-content style="width:800px;height:300px;">
        <mat-tab-group>
            <mat-tab [label]="'ActivityDetails' | localize">
                <br />
                <div class="row-fluid">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput
                                   name="ActivityTime"
                                   [placeholder]="'ActivityTime' | localize"
                                   [(ngModel)]="dateTimeRange"
                                   [selectMode]="'range'"
                                   [owlDateTime]="dt1"
                                   [owlDateTimeTrigger]="dt1"
                                   #dateTime1="ngModel"
                                   required
                            />
                            <owl-date-time #dt1></owl-date-time>
                            <span class="example-error" *ngIf="dateTime1.invalid && dateTime1.errors.owlDateTimeRange">
                                Date Time Range Invalid.
                            </span>
                        </mat-form-field>
                        <mat-form-field>
                            <input
                                    matInput
                                    name="GoToType"
                                    [placeholder]="'GoToType' | localize"
                                    [(ngModel)]="activity.goToType"
                                    type="number"
                                    required
                                    maxlength="32"
                            />
                        </mat-form-field>
                        <mat-form-field>
                            <input
                                    matInput
                                    name="GoTo"
                                    [placeholder]="'GoTo' | localize"
                                    [(ngModel)]="activity.goTo"
                                    type="number"
                                    required
                                    maxlength="32"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select
                                    name="ActivityType"
                                    [placeholder]="'ActivityType' | localize"
                                    [(ngModel)]="activity.type"
                                    required>
                                <mat-option *ngFor="let activityTypeKey of activityTypes | enumToArray" [value]="activityTypeKey">
                                    {{ activityTypeKey | activityEnums:'ActivityDtoType' | localize}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select
                                    name="LeftTag"
                                    [placeholder]="'LeftTag' | localize"
                                    [(ngModel)]="activity.leftTag"
                                    required>
                                <mat-option *ngFor="let activityLeftTag of activityLeftTags | enumToArray" [value]="activityLeftTag">
                                    {{activityLeftTag | activityEnums:'ActivityDtoLeftTag' | localize}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select
                                    name="RightTag"
                                    [placeholder]="'RightTag' | localize"
                                    [(ngModel)]="activity.rightTag"
                                    required>
                                <mat-option *ngFor="let activityRightTag of activityRightTags | enumToArray" [value]="activityRightTag">
                                    {{activityRightTag | activityEnums:'ActivityDtoRightTag' | localize}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="checkbox-wrapper">
                            <ng-container *ngIf="dateTimeRange[0]<dateTimeRange[1] && dateTimeNow <dateTimeRange[1]; else elseTmpl">
                                <i class="material-icons" style="color:green;">
                                    check_box
                                </i>
                            </ng-container>
                            <ng-template #elseTmpl>
                                <i class="material-icons"  style="color:red;">
                                    indeterminate_check_box
                                </i>
                            </ng-template>
                            <span>{{ "IsActive" | localize }}</span>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'ActivityTexts' | localize">
                <br />
                <div class="row-fluid">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input
                                    matInput
                                    name="ActivityTitle"
                                    [placeholder]="'ActivityTitle' | localize"
                                    [(ngModel)]="activityTitle"
                                    required
                                    minlength="2"
                                    maxlength="32"
                            />
                        </mat-form-field>
                        <mat-form-field>
                            <textarea
                                    matInput
                                    name="ActivityMessage"
                                    [placeholder]="'ActivityMessage' | localize"
                                    [(ngModel)]="activityMessage"
                                    required
                                    minlength="1"
                                    maxlength="512"
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="2"
                                    cdkAutosizeMaxRows="8"
                            ></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button
                mat-flat-button
                type="submit"
                flex="15"
                color="primary"
                [disabled]="!createUserModal.form.valid || saving"
        >
            {{ "Save" | localize }}
        </button>
    </div>
</form>
